<div class="grid-x">
    <div class="large-24" style="margin-top:20px;">
        <table id="flat-rate-table" class="section-table size-12 connectedSortable mono">
            <thead>
                <tr>
                    <th class="">Model</th>
                    <th class="">Device Count</th>
                    <th class="">No Click Price</th>
                </tr>
            </thead>
            <tbody id="flat-rate-table-body" style="text-align:center;"></tbody>
        </table>
    </div>
</div>
