{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if image_url is None and co_branding_logo_url is None %}
          <button type="submit">Upload Logo</button>
        {% endif %}
    </form>

    {% if image_url or co_branding_logo_url %}
      <h2>Successfully uploaded!</h2>
    {% endif %}

    {% if image_url %}
        <h3>Logo:</h3>
        <p><img src="{{ image_url }}"/></p>
    {% endif %}

    {% if co_branding_logo_url %}
        <h3>Co-branding Logo:</h3>
        <p><img src="{{ co_branding_logo_url }}"/></p>
    {% endif %}
    
    <p><a href="/">Return to Dashboard</a></p>

</body>
</html>
