:root {
    --mps-pink: #eb5295;
    --mps-blue: #61dad1;
    --mps-yellow: #ffe65d;
    --mps-green: #6bc877;
    --mps-banana: #f9e67f;
    --mps-stoplight: #ca575c;
    --mps-red: #b72a30;
    --mps-leaf: #38a14c;
    --mps-blue-transparent: #aaffffaa;
    --mps-hover-yellow: #e0c218;
    --mps-hover-green: #257e35;
    --mps-hover-blue: #3bc2b9;
}
