{% load template_group %}

<style> .self_service_info {
    background-color: var(--mps-blue-transparent);
    color: #353535;
    font-size: .70rem;
    letter-spacing: 1px;
    /* margin: 5%; */
    padding: 1%;
}
</style>

<div class="self_service_info"><p>The term "managed print" refers to a way to purchase supplies and
    sometimes service. Depending on how much
    printing you do over the course of a month it can provide significant savings.</p>
    <p>It requires that you enter into an agreement to purchase from a single dealership and in return they will be
        able to provide more affordable pricing.</p>
    <p>This self-service portal allows you to select print devices, input your print volumes and then review/sign a
        proposal</p>
    <p>The signed proposal is the last step before you are presented with a formal contract. There is no obligation
        until the final contract is signed.</p></div>