	body {
		background: #DBE5F1;
	}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
    .row {
        border-bottom: solid 1px transparent;
    }

        .row > * {
            float: left;
        }

        .row:after, .row:before {
            content: '';
            display: block;
            clear: both;
            height: 0;
        }

        .row.uniform > * > :first-child {
            margin-top: 0;
        }

        .row.uniform > * > :last-child {
            margin-bottom: 0;
        }

        .row > * {
            padding: 0 0 0 2em;
        }

    .row {
        margin: 0 0 -1px -2em;
    }

        .row.uniform > * {
            padding: 2em 0 0 2em;
        }

        .row.uniform {
            margin: -2em 0 -1px -2em;
        }

        .row.\32 00\25 > * {
            padding: 0 0 0 4em;
        }

        .row.\32 00\25 {
            margin: 0 0 -1px -4em;
        }

        .row.uniform.\32 00\25 > * {
            padding: 4em 0 0 4em;
        }

        .row.uniform.\32 00\25 {
            margin: -4em 0 -1px -4em;
        }

        /* 150% */

        .row.\31 50\25 > * {
            /* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
            padding: 0 0 0 1.5em;
        }

        .row.\31 50\25 {
            /* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
            margin: 0 0 -1px -1.5em;
        }

        .row.uniform.\31 50\25 > * {
            /* padding: (gutters.vertical) 0 0 (gutters.vertical) */
            padding: 1.5em 0 0 1.5em;
        }

        .row.uniform.\31 50\25 {
            /* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
            margin: -1.5em 0 -1px -1.5em;
        }

        /* 50% */

        .row.\35 0\25 > * {
            /* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
            padding: 0 0 0 1em;
        }

        .row.\35 0\25 {
            /* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
            margin: 0 0 -1px -1em;
        }

        .row.uniform.\35 0\25 > * {
            /* padding: (gutters.vertical) 0 0 (gutters.vertical) */
            padding: 1em 0 0 1em;
        }

        .row.uniform.\35 0\25 {
            /* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
            margin: -1em 0 -1px -1em;
        }

        /* 25% */

        .row.\32 5\25 > * {
            /* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
            padding: 0 0 0 0.5em;
        }

        .row.\32 5\25 {
            /* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
            margin: 0 0 -1px -0.5em;
        }

        .row.uniform.\32 5\25 > * {
            /* padding: (gutters.vertical) 0 0 (gutters.vertical) */
            padding: 0.5em 0 0 0.5em;
        }

        .row.uniform.\32 5\25 {
            /* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
            margin: -0.5em 0 -1px -0.5em;
        }

        /* 0% */

        .row.\30 \25 > * {
            padding: 0;
        }

        .row.\30 \25 {
            margin: 0 0 -1px 0;
        }

    /* Cells */

    .\31 2u, .\31 2u\24 {
        width: 100%;
        clear: none;
        margin-left: 0;
    }

    .\31 1u, .\31 1u\24 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 0u, .\31 0u\24 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\39 u, .\39 u\24 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u, .\38 u\24 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u, .\37 u\24 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u, .\36 u\24 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u, .\35 u\24 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u, .\34 u\24 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u, .\33 u\24 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u, .\32 u\24 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u, .\31 u\24 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

        .\31 2u\24 + *,
        .\31 1u\24 + *,
        .\31 0u\24 + *,
        .\39 u\24 + *,
        .\38 u\24 + *,
        .\37 u\24 + *,
        .\36 u\24 + *,
        .\35 u\24 + *,
        .\34 u\24 + *,
        .\33 u\24 + *,
        .\32 u\24 + *,
        .\31 u\24 + * {
            clear: left;
        }

    .\-11u {
        margin-left: 91.6666666667%
    }

    .\-10u {
        margin-left: 83.3333333333%
    }

    .\-9u {
        margin-left: 75%
    }

    .\-8u {
        margin-left: 66.6666666667%
    }

    .\-7u {
        margin-left: 58.3333333333%
    }

    .\-6u {
        margin-left: 50%
    }

    .\-5u {
        margin-left: 41.6666666667%
    }

    .\-4u {
        margin-left: 33.3333333333%
    }

    .\-3u {
        margin-left: 25%
    }

    .\-2u {
        margin-left: 16.6666666667%
    }

    .\-1u {
        margin-left: 8.3333333333%
    }

    body, input, select, textarea {
        font-size: 12pt;
    }

    header.major h2 {
        font-size: 2.25em;
    }

    header.major p {
        font-size: 1.25em;
    }

    /* Header */

    #skel-layers-wrapper {
        padding-top: 0;
    }

    
  
    .TableRowWidth {
        width: 260px;
    }

    .TableRowClientApproval {
        width: 150px;
    }

    .header {
        background-color: #fff;
        color: #000000;
        height: 3em;
        line-height: 3em;
        z-index: 10000;
        text-align: right;
    }

    body.is-loading *, body.is-loading *:before, body.is-loading *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

    body, input, select, textarea {
        color: #000000;
        font-family: Calibri, sans-serif;
        font-size: 13pt;
        font-weight: 400;
        line-height: 1.65em;
    }

    a {
        color: #383b43;
        text-decoration: none;
    }

        a:active, a:hover {
            text-decoration: underline;
        }

    strong, b {
        color: #000000;
        font-weight: 700;
    }

    em, i {
        font-style: italic;
    }

    p {
        margin: 0 0 2em 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #000000;
        font-weight: 700;
        line-height: 1em;
        margin: 0 0 10px 0;
    }

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            color: inherit;
            text-decoration: none;
        }

    h2 {
        font-size: 1.75em;
        line-height: 1.5em;
    }

    h3 {
        font-size: 1.35em;
        line-height: 1.5em;
    }

    h4 {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    h5 {
        font-size: 0.9em;
        line-height: 1.5em;
    }

    h6 {
        font-size: 0.7em;
        line-height: 1.5em;
    }

    sub {
        font-size: 0.8em;
        position: relative;
        top: 0.5em;
    }

    sup {
        font-size: 0.8em;
        position: relative;
        top: -0.5em;
    }

    hr {
        border: 0;
        border-bottom: solid 1px rgba(144, 144, 144, 0.25);
        margin: 2em 0;
    }

        hr.major {
            margin: 3em 0;
        }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }
    /* Form */

    form {
        margin: 0 0 2em 0;
    }

    label {
        color: #000000;
        display: block;
        font-size: 0.9em;
        font-weight: 700;
        margin: 0 0 1em 0;
    }
 
.box {
    border-radius: 4px;
    border: solid 1px #000000;
    margin-bottom: 2em;
    padding: 1.5em;
     
}

        .box > :last-child,
        .box > :last-child > :last-child,
        .box > :last-child > :last-child > :last-child {
            margin-bottom: 0;
        }

        .box.alt {
            border: 0;
            border-radius: 0;
            padding: 0;
        }


    /* List */

    ol {
        list-style: decimal;
        margin: 0 0 2em 0;
     
    }

        ol li {
            padding-left: 0.25em;
        }

    ul {
        list-style: disc;
        margin: 0 0 2em 0;
        padding-left: 1em;
    }

        ul li {
            padding-left: 0.5em;
        }

        ul.alt {
            list-style: none;
            padding-left: 0;
        }

            ul.alt li {
                border-top: solid 1px rgba(144, 144, 144, 0.25);
                padding: 0.5em 0;
            }

                ul.alt li:first-child {
                    border-top: 0;
                    padding-top: 0;
                }

        ul.unstyled {
            list-style: none;
            padding-left: 0;
        }

            ul.unstyled li {
                padding: 0.4em 0;
            }


    dl {
        margin: 0 0 2em 0;
    }

    /* Table */

    .table-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

table {
    margin: 0 0 2em 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

        table tbody tr {
            border: solid 1px #000000;
            border-left: 0;
            border-right: 0;
        }

        /*table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}*/

        table td {
            padding: 0.3em 1.2em;
        }

        table th {
            border: solid 1px #000000;
            color: #000000;
            font-size: 20px;
            font-weight: bold;
            padding: 15px 0.75em 0.75em 0.75em;
            text-align: center;
        }

        table thead {
            border-bottom: solid 1px #000000;
        }

        table tfoot {
            border-top: solid 1px #000000;
        }

        table.alt {
            border-collapse: separate;
        }

            table.alt tbody tr td {
                border: solid 1px #000000;
                border-left-width: 0;
                border-top-width: 0;
            }

                table.alt tbody tr td:first-child {
                    border-left-width: 1px;
                }

            table.alt tbody tr:first-child td {
                border-top-width: 1px;
            }

            table.alt thead {
                border-bottom: 0;
            }

            table.alt tfoot {
                border-top: 0;
            }


        table.tableModel tbody tr td {
            border: solid 1px #000000;
            border-left-width: 0;
            border-top-width: 0;
        }

            table.tableModel tbody tr td:first-child {
                border-left-width: 1px;
            }

        table.tableModel tbody tr:first-child td {
            border-top-width: 1px;
        }

        table.tableModel thead {
            background-color: #DBE5F1;
        }

        table.tableModel tfoot td {
            font-size: 18px;
            border: solid 1px #000000;
        }

        table.tableModel tfoot th {
            background-color: #DBE5F1;
        }

    .grey {
        background-color: #DBE5F1;
    }

    .BuyerSeller {
       padding:15px;
        margin-left: 3px;
        font-size: larger;
        font-weight: bold;
    }

    .wrapper {
        padding: 2em 0em 4em;
    }

    @media print {
      
        body {
            background-color: #fff;
            
        }
        
  
}
