<ul class="prop-menu menu cell grid-x large-13 align-middle text-center">
    <li class="cell auto is-active">
        <a href="/proposal/selectClient/{{ proposal_id }}">Select Client</a>
    </li>
  {% if proposal_client %}
    <li class="cell auto">
        <a href="/proposal/details/{{ proposal_id }}">Proposal Details</a>
    </li>
    {% if contract_service_level %}
    <li class="cell auto">
        <a href="/proposal/pricing/{{ proposal_id }}">Pricing Detail</a>
    </li>
    <li class="cell auto" id="tco-button1">
        <a href="/proposal/TCO/{{ proposal_id }}">TCO</a>
    </li>
    <li class="cell auto">
        <a href="/proposal/preview/{{ proposal_id }}">Proposal</a>
    </li>
    {% endif %}
  {% endif %}
</ul>