.ff0{font-family:sans-serif;visibility:hidden;}
@font-face {
    font-family: ff1;
    src: url(../fonts/f1.woff)format("woff");
}.ff1{font-family:ff1;line-height:0.983887;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff2;
    src: url(../fonts/f2.woff)format("woff");
}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff3;
    src: url(../fonts/f3.woff)format("woff");
}.ff3{font-family:ff3;line-height:0.992188;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff4;
    src: url(../fonts/f4.woff)format("woff");
}.ff4{font-family:ff4;line-height:0.754395;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff5;
    src: url(../fonts/f5.woff)format("woff");
}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff6;
    src: url(../fonts/f6.woff)format("woff");
}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff7;
    src: url(../fonts/f7.woff)format("woff");
}.ff7{font-family:ff7;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff8;
    src: url(../fonts/f8.woff)format("woff");
}.ff8{font-family:ff8;line-height:0.874023;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ff9;
    src: url(../fonts/f9.woff)format("woff");
}.ff9{font-family:ff9;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face {
    font-family: ffa;
    src: url(../fonts/fa.woff)format("woff");
}.ffa{font-family:ffa;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.624000px;}
._6{width:1.597256px;}
._0{width:2.772000px;}
._b{width:6.150131px;}
._4{width:31.194000px;}
._5{width:38.190000px;}
._3{width:63.494000px;}
._2{width:67.150000px;}
._7{width:99.696849px;}
._9{width:118.065044px;}
._8{width:120.134745px;}
._a{width:132.768613px;}
.fc11{color:rgb(73,96,150);}
.fc10{color:rgb(64,64,64);}
.fcd{color:rgb(24,136,248);}
.fcb{color:rgb(26,96,97);}
.fcc{color:rgb(34,42,53);}
.fc2{color:rgb(2,151,198);}
.fce{color:rgb(39,143,145);}
.fc1{color:rgb(130,220,222);}
.fc12{color:rgb(54,150,145);}
.fcf{color:rgb(60,169,172);}
.fca{color:rgb(23,23,23);}
.fc0{color:rgb(0,0,0);}
.fc5{color:rgb(52,191,194);}
.fc6{color:rgb(116,184,251);}
.fc3{color:rgb(75,93,117);}
.fc7{color:rgb(97,174,251);}
.fc4{color:rgb(255,255,255);}
.fc8{color:rgb(68,84,105);}
.fc9{color:rgb(112,182,251);}
.fs5{font-size:34.680000px;}
.fs2{font-size:36.040001px;}
.fs12{font-size:37.320000px;}
.fs4{font-size:44.000000px;}
.fs6{font-size:48.000000px;}
.fs8{font-size:50.000000px;}
.fs1{font-size:56.000000px;}
.fsa{font-size:58.000000px;}
.fsb{font-size:64.000000px;}
.fsc{font-size:66.000000px;}
.fs3{font-size:72.000000px;}
.fsf{font-size:80.000000px;}
.fs13{font-size:88.000000px;}
.fsd{font-size:95.040009px;}
.fs9{font-size:96.000000px;}
.fs7{font-size:112.000000px;}
.fs10{font-size:128.000000px;}
.fs0{font-size:144.000000px;}
.fs11{font-size:176.000000px;}
.fse{font-size:384.000000px;}
.y0{bottom:0.000000px;}
.y19{bottom:12.005853px;}
.y14{bottom:13.573378px;}
.y6{bottom:15.819962px;}
.y7{bottom:16.389137px;}
.y5e{bottom:23.030136px;}
.y72{bottom:32.109909px;}
.y4{bottom:32.619965px;}
.y5{bottom:33.189140px;}
.y7c{bottom:33.697784px;}
.yc3{bottom:35.083309px;}
.ya9{bottom:41.676361px;}
.y11{bottom:43.564371px;}
.yc7{bottom:43.597532px;}
.y5d{bottom:47.547272px;}
.y2{bottom:49.419968px;}
.yb0{bottom:49.520252px;}
.y3{bottom:49.989140px;}
.yc2{bottom:51.883312px;}
.y8f{bottom:54.654556px;}
.yc6{bottom:54.793531px;}
.y7b{bottom:58.897781px;}
.y51{bottom:64.861778px;}
.yc0{bottom:68.114140px;}
.yc1{bottom:68.683312px;}
.y5c{bottom:69.147278px;}
.y71{bottom:70.509933px;}
.y1{bottom:71.796833px;}
.y8e{bottom:79.854538px;}
.y7a{bottom:84.097778px;}
.y70{bottom:89.709946px;}
.y5b{bottom:90.747272px;}
.y50{bottom:91.861778px;}
.yc5{bottom:96.089415px;}
.ya8{bottom:98.879656px;}
.ya7{bottom:99.855381px;}
.y10{bottom:100.121279px;}
.y8d{bottom:105.054520px;}
.yc4{bottom:107.285414px;}
.y79{bottom:109.297775px;}
.y3e{bottom:116.324253px;}
.y32{bottom:116.500076px;}
.y84{bottom:118.028696px;}
.y83{bottom:118.391764px;}
.y22{bottom:119.790054px;}
.y1f{bottom:120.139053px;}
.y4f{bottom:120.661781px;}
.ybf{bottom:122.437344px;}
.y5a{bottom:125.836781px;}
.y6f{bottom:128.109970px;}
.y31{bottom:129.700073px;}
.y3d{bottom:130.448254px;}
.y21{bottom:132.990051px;}
.y1e{bottom:133.339050px;}
.yaf{bottom:136.874165px;}
.ybe{bottom:139.237347px;}
.y30{bottom:143.582940px;}
.y3c{bottom:145.302922px;}
.y20{bottom:146.872918px;}
.y1d{bottom:147.221917px;}
.y4e{bottom:149.461779px;}
.y8c{bottom:155.454529px;}
.ybc{bottom:155.468174px;}
.ybd{bottom:156.037347px;}
.yf{bottom:157.003977px;}
.y78{bottom:158.104424px;}
.y4c{bottom:158.197433px;}
.y4d{bottom:159.335777px;}
.y6e{bottom:166.509995px;}
.y61{bottom:166.683571px;}
.y5f{bottom:167.090124px;}
.y60{bottom:167.821917px;}
.y8b{bottom:180.654541px;}
.y6d{bottom:185.709976px;}
.y4b{bottom:191.797432px;}
.y49{bottom:191.814350px;}
.y4a{bottom:192.935778px;}
.y59{bottom:200.902832px;}
.ybb{bottom:202.085506px;}
.y80{bottom:202.546616px;}
.yc8{bottom:208.742302px;}
.y2f{bottom:208.806610px;}
.y25{bottom:209.537399px;}
.y2b{bottom:209.937454px;}
.yad{bottom:218.462605px;}
.yba{bottom:218.885509px;}
.ya5{bottom:221.272607px;}
.y2e{bottom:222.006607px;}
.y12{bottom:222.027750px;}
.y24{bottom:222.737396px;}
.y2a{bottom:223.820324px;}
.y8a{bottom:231.054565px;}
.y58{bottom:234.502838px;}
.yb8{bottom:235.116337px;}
.y2d{bottom:235.206604px;}
.yb9{bottom:235.685510px;}
.y7f{bottom:236.146622px;}
.y23{bottom:236.620263px;}
.y29{bottom:240.620324px;}
.y6b{bottom:242.659485px;}
.y6c{bottom:243.309967px;}
.y48{bottom:248.700890px;}
.y2c{bottom:249.089471px;}
.y9{bottom:249.909963px;}
.y7e{bottom:252.946621px;}
.ya4{bottom:257.057885px;}
.y69{bottom:261.859482px;}
.y6a{bottom:262.509964px;}
.y47{bottom:263.100891px;}
.y57{bottom:265.702839px;}
.y92{bottom:275.000990px;}
.y93{bottom:275.732782px;}
.y89{bottom:281.454567px;}
.ye{bottom:286.211367px;}
.y7d{bottom:286.546624px;}
.yb7{bottom:288.596798px;}
.y46{bottom:291.900890px;}
.ya3{bottom:292.843163px;}
.y35{bottom:295.767380px;}
.y1c{bottom:295.864243px;}
.y28{bottom:297.080292px;}
.y56{bottom:298.847599px;}
.yae{bottom:305.081898px;}
.yb6{bottom:305.396801px;}
.y45{bottom:306.300890px;}
.y88{bottom:306.654564px;}
.y34{bottom:308.967377px;}
.y1b{bottom:309.064240px;}
.y27{bottom:310.280289px;}
.y55{bottom:313.702844px;}
.y68{bottom:320.109955px;}
.yb4{bottom:321.627628px;}
.yb5{bottom:322.196801px;}
.y16{bottom:322.802032px;}
.y33{bottom:322.850244px;}
.y1a{bottom:322.947106px;}
.y95{bottom:323.309544px;}
.y26{bottom:324.163156px;}
.ya2{bottom:328.628442px;}
.y77{bottom:331.416740px;}
.y9d{bottom:334.425972px;}
.y15{bottom:338.408031px;}
.y67{bottom:339.309959px;}
.y94{bottom:342.012487px;}
.y76{bottom:350.616742px;}
.y54{bottom:351.235069px;}
.y52{bottom:351.397690px;}
.y53{bottom:352.373415px;}
.yc{bottom:353.416559px;}
.y9c{bottom:353.625977px;}
.y87{bottom:357.054571px;}
.y66{bottom:358.509964px;}
.y42{bottom:360.142860px;}
.y3b{bottom:360.654240px;}
.y38{bottom:361.152267px;}
.y43{bottom:361.281206px;}
.y41{bottom:362.196224px;}
.y44{bottom:362.219038px;}
.y9a{bottom:367.108719px;}
.y18{bottom:367.599276px;}
.ya1{bottom:368.149666px;}
.y9b{bottom:372.825975px;}
.y98{bottom:374.072557px;}
.y3a{bottom:374.778240px;}
.y37{bottom:375.035137px;}
.y99{bottom:375.048283px;}
.y40{bottom:377.360668px;}
.y65{bottom:377.709969px;}
.y17{bottom:384.691781px;}
.yb3{bottom:384.825306px;}
.y75{bottom:385.674183px;}
.ya0{bottom:387.349670px;}
.y39{bottom:389.632909px;}
.y36{bottom:391.835137px;}
.y3f{bottom:392.215337px;}
.yac{bottom:392.926159px;}
.yb1{bottom:401.056133px;}
.yb2{bottom:401.625306px;}
.y9f{bottom:406.549669px;}
.y97{bottom:408.681017px;}
.y63{bottom:415.459490px;}
.y64{bottom:416.109972px;}
.yd{bottom:416.679018px;}
.y74{bottom:416.786184px;}
.y90{bottom:423.198000px;}
.y82{bottom:426.007433px;}
.y81{bottom:427.100420px;}
.y8{bottom:444.316716px;}
.y96{bottom:460.126869px;}
.ya{bottom:463.724010px;}
.yab{bottom:466.412876px;}
.y13{bottom:475.821569px;}
.yb{bottom:481.226809px;}
.y91{bottom:483.212406px;}
.y73{bottom:490.036371px;}
.y9e{bottom:491.847788px;}
.y62{bottom:493.290228px;}
.y85{bottom:496.771381px;}
.ya6{bottom:497.253458px;}
.y86{bottom:507.571383px;}
.yaa{bottom:510.514805px;}
.h3{height:24.636719px;}
.h6{height:25.247989px;}
.h1f{height:27.169980px;}
.h5{height:34.031250px;}
.h9{height:34.396484px;}
.h8{height:37.523438px;}
.hd{height:39.160156px;}
.h2{height:43.312500px;}
.h7{height:43.777344px;}
.h14{height:44.531250px;}
.h16{height:45.340820px;}
.hf{height:45.425781px;}
.hb{height:48.761719px;}
.h13{height:49.218750px;}
.h18{height:49.500000px;}
.h11{height:50.031250px;}
.h12{height:51.691406px;}
.h1b{height:53.320312px;}
.h10{height:55.687500px;}
.h4{height:56.285156px;}
.h1e{height:62.539062px;}
.h20{height:68.792969px;}
.h19{height:69.890625px;}
.h15{height:73.507507px;}
.he{height:74.250000px;}
.hc{height:74.648438px;}
.ha{height:86.625000px;}
.h1a{height:98.437500px;}
.h1c{height:99.000000px;}
.h1{height:111.375000px;}
.h1d{height:117.304688px;}
.h17{height:297.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x46{left:-39.039520px;}
.x1f{left:-32.116561px;}
.x18{left:-29.013550px;}
.x17{left:-27.875205px;}
.x0{left:0.000000px;}
.x2{left:18.789571px;}
.xe{left:24.512360px;}
.x27{left:26.793793px;}
.x2e{left:28.035065px;}
.x4{left:31.945354px;}
.x21{left:33.587395px;}
.x20{left:34.725739px;}
.xd{left:43.246552px;}
.x2a{left:48.643311px;}
.x2f{left:50.534882px;}
.x3a{left:51.931714px;}
.x22{left:53.700012px;}
.x1a{left:55.200012px;}
.x32{left:58.435909px;}
.x31{left:85.678406px;}
.x49{left:111.441643px;}
.x28{left:152.192223px;}
.x47{left:177.971344px;}
.x13{left:179.003693px;}
.xf{left:190.227951px;}
.x3{left:192.393311px;}
.x3d{left:208.574646px;}
.x7{left:212.726608px;}
.x6{left:213.901215px;}
.x8{left:216.600937px;}
.xb{left:223.356064px;}
.x9{left:234.275833px;}
.xc{left:238.847153px;}
.x1{left:240.962799px;}
.xa{left:243.227341px;}
.x2b{left:259.793777px;}
.x48{left:262.285400px;}
.x39{left:266.699829px;}
.x29{left:270.434402px;}
.x2d{left:293.122986px;}
.x3e{left:303.284882px;}
.x26{left:306.179626px;}
.x34{left:309.018982px;}
.x45{left:319.044434px;}
.x44{left:329.452576px;}
.x30{left:334.067810px;}
.x33{left:340.167908px;}
.x4a{left:350.122609px;}
.x4b{left:353.337025px;}
.x3f{left:371.117035px;}
.x12{left:385.236938px;}
.x14{left:386.308472px;}
.x2c{left:391.364075px;}
.x35{left:409.073654px;}
.x11{left:417.081268px;}
.x36{left:426.580414px;}
.x40{left:463.242767px;}
.x19{left:477.657654px;}
.x4c{left:530.815552px;}
.x41{left:533.659485px;}
.x37{left:566.549988px;}
.x16{left:586.036926px;}
.x15{left:587.673157px;}
.x5{left:592.129883px;}
.x3b {
    left: 677.131104px;
}
.x38{left:596.549200px;}
.x42{left:604.076111px;}
.x23{left:671.386761px;}
.x1c{left:688.175354px;}
.x1b{left:689.296781px;}
.x25{left:700.660824px;}
.x24{left:701.799170px;}
.x3c{left:759.027069px;}
.x10{left:769.453369px;}
.x1e{left:739.399948px;}
.x1d{left:840.538300px;}
.x43{left:851.378784px;}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 20px;
    width: 880px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 150px;
}
    table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: rgb(255,255,255);
        color: rgb(64,64,64);
        padding-left: 5px;
        padding-right: 5px;
        border: 1.5px solid rgb(64,64,64);
       
        font-size: medium;
    }
td {
    font-size: medium;
    border-left: 1.5px solid rgb(64,64,64);
    border-right: 1.5px solid rgb(64,64,64);
    border-bottom: 1.5px solid rgb(64,64,64);
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #278f91;
} 