.layout{
    background-color: #727378;
}

#success-btn,#mailImage {
    color: white;
    background-color: #0275d8;
}

#footer {
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    border: none;
}