<!doctype html>

<body>
    <p>upload here</p>
    <br/>
    <div class="row">

        <form enctype="multipart/form-data" action="{{ action }}" name="test" method="post">
            {% csrf_token %} {{form.as_p}}
            <input id="signUpSubmit" type="submit" value="Submit">
        </form>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br/>
    <button>
        <a href="/imports/">Return to imports</a>
    </button>

</body>